## multiple linear regression

In [6]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
df=pd.read_csv("E:\\4TH SEM NOTES\\datasets\\Advertising (1).csv")
df

     Unnamed: 0     TV  Radio  Newspaper  Sales
0             1  230.1   37.8       69.2   22.1
1             2   44.5   39.3       45.1   10.4
2             3   17.2   45.9       69.3    9.3
3             4  151.5   41.3       58.5   18.5
4             5  180.8   10.8       58.4   12.9
..          ...    ...    ...        ...    ...
195         196   38.2    3.7       13.8    7.6
196         197   94.2    4.9        8.1    9.7
197         198  177.0    9.3        6.4   12.8
198         199  283.6   42.0       66.2   25.5
199         200  232.1    8.6        8.7   13.4

[200 rows x 5 columns]

Build a Multiple Linear Regression Model to predict sales based on the money spent on TV, Radio, and Newspaper for advertising

In [8]:
df.head(6)

   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9
5           6    8.7   48.9       75.0    7.2

In [15]:
#splitting into x and y 
#many features so called as feature vector , feature array 
x = df[['TV','Radio','Newspaper']]
y = df['Sales'].values

In [16]:
x.shape

(200, 3)

In [17]:
y.shape

(200,)

In [22]:
#split x and y into training and test data set 

from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(
    x,y,test_size=0.2,random_state=100)

In [23]:
#x in train testing values in x and y 
#y in train testing values in x and y 
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(160, 3)
(40, 3)
(160,)
(40,)

In [26]:
#training the model 
from sklearn.linear_model import LinearRegression 
mlr = LinearRegression()
mlr.fit(x_train, y_train)

LinearRegression()

In [28]:
print("Intercept:", mlr.intercept_)
print("Coefficients:") 
list(zip(x, mlr.coef_))

Intercept: 2.8172751352950023
Coefficients:

[('TV', 0.045586396923019155),
 ('Radio', 0.18569815745973384),
 ('Newspaper', 0.00223281024101886)]

In [29]:
#Prediction of test set
y_pred_mlr=mlr.predict(x_test)
#Predicted values 
print("Prediction for test set: {}",format(y_pred_mlr))

Prediction for test set: {} [10.50948755 20.05723558 16.82665516 19.09405782 20.94383845 13.25348896
 11.87554518 12.4882643  20.51420388 20.91328754 10.90182094 19.44307823
  6.5040246  15.3178433   9.04147699  8.03952046 16.26581002 12.10312044
 17.12086602 11.28131376 17.07036157  9.84452136 20.70077487 17.17479561
 15.19498306 21.96631309 19.1587532  10.09216975 19.40214482 14.88180369
 14.27844074  7.69173892 10.00183154 14.82404891  7.29177732 13.63453936
  7.59380446 11.84106127 13.61631336 15.18810875]

In [33]:
mlr_diff = pd.DataFrame({'Actual value': y_test,'Predicted value':y_pred_mlr})
mlr_diff.head()

   Actual value  Predicted value
0           6.6        10.509488
1          20.7        20.057236
2          17.2        16.826655
3          19.4        19.094058
4          21.8        20.943838

In [38]:
#model Evaluation
from sklearn import metrics
meanAbErr = metrics.mean_absolute_error(y_test,y_pred_mlr)
meanSqErr = metrics.mean_squared_error(y_test,y_pred_mlr)
rootMeanSqErr = np.sqrt(metrics.mean_squared_error(y_test,y_pred_mlr))
print('R_squared : {:.2f}'.format(mlr.score(x,y)*100))
print('Mean Absolute Error',meanAbErr)
print('Mean Square Error',meanSqErr)
print('Root Mean Square Error',rootMeanSqErr)

R_squared : 89.66
Mean Absolute Error 1.027167990492494
Mean Square Error 1.7332927815807733
Root Mean Square Error 1.316545776485107